<launch>
<rosparam command="load" file="$(find kcl_sbc)/config/sensor_params.yaml" />
<env name="ROS_MASTER_URI" value="http://emannuele:11311"/>
<arg name="novis" default="true" /> 
  <machine name="oldpc" address="robotics" env-loader="/home/robotics/Documents/ros_code/devel/env.sh" user="robotics"/>
  <machine name="emannuele" address="emannuele-DQ57TM" env-loader="/home/emannuele/ros_ws/devel/env.sh" user="emannuele"/>


  <param name="robot_description"
    command="$(find xacro)/xacro.py '$(find bhand_description)/urdf/bh_alone.urdf.xacro'" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
  <node name="static_tf1" pkg="tf" type="static_transform_publisher" args="-0.035, 0.026, 0.000 0.873  -0.000, -1.570 /bh_finger_13_link /finger1 1"/>
  <node name="static_tf2" pkg="tf" type="static_transform_publisher" args="-0.035, 0.026, 0.000 0.873  -0.000, -1.570 /bh_finger_23_link /finger2 1"/>  
  <node name="marker_viz" pkg="kcl_sbc" type="marker_viz"/>
  <node name="collector" pkg="kcl_sbc" type="data_collector.py"/>    

</launch>
